{% extends 'base.html.twig' %}

{% block content %}
	<h1>Modifier une classe</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-primary">Modifier</button>
	{{ form_end(form) }}

	<a href="{{ path('classroom_index') }}">Retour à la liste des classes</a>
{% endblock %}
